cse460projectBMICalculator/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BMI_value">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="weight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BMI_valueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BMI_valueResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthIndicator_value">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BMI" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthIndicator_valueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HealthIndicator_valueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>